:host {
  display: block;
}

.container {
  width: 100%;
}

.file-upload-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.file-upload-button-container > span {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}
.position {
  position: static !important;
}

#file-upload {
  display: none;
}
.file-upload-button {
  width: 100px;
  text-align: center;
  background-color: rgb(38, 173, 226);
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  margin-top: 5px;
}
.file-upload-button:hover {
  background-color: rgb(100, 198, 237);
  cursor: pointer;
}

.table-container {
  width: 100%;
  height: 400px;
  min-height: 250px;
  overflow: auto;
  border: 1px solid black;
}
.table-default-header-container {
  display: flex;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.hide {
  display: none;
}

.table-default-header {
  width: 100%;
  border: 2px solid rgb(208, 219, 216);
  border-right: 0.5px solid rgb(208, 219, 216);
  text-align: center;
  background-color: rgb(234, 239, 245);
  padding-left: 5px;
}
.table-row-container {
  /* overflow: auto; */
}

.table-data-container {
  display: flex;
  width: 100%;
}
.table-data-td {
  border: 1px solid rgb(208, 219, 216);
  border-top: 0.5px solid rgb(208, 219, 216);
  border-right: 0.5px solid rgb(208, 219, 216);
  text-align: initial;
  padding-left: 5px;
  cursor: pointer;
  min-width: 150px;
  flex: 1;
  overflow: hidden;
  height: 21px;
}
.table-data-td:hover {
  background-color: #eee;
  overflow: auto;
}
.table-data-index {
  min-width: 30px;
  text-align: center;
  background-color: rgb(234, 239, 245);
  border: 1px solid rgb(208, 219, 216);
}
.table-data-index:hover {
  cursor: default;
  background-color: rgb(234, 239, 245);
}

.selected-column {
  background-color: #f0f0f0 !important;
}

.tab-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(234, 239, 245);
  height: 50px;
  display: flex;
  z-index: 999;
}

.tab-container > button {
  cursor: pointer;
  border: 2px solid #eee;
  border-radius: 5px;
  background-color: white;
}
.tab-container > button:hover {
  transition: all 0.4s ease-in-out;
}

.active-tab {
  background-color: #ddd !important;
  border: 2px solid skyblue !important;
}
