:host {
  display: block;
}

.container {
  width: 100%;
}

.file-upload-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.file-upload-button-container > span {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

#file-upload {
  display: none;
}
.file-upload-button {
  width: 100px;
  text-align: center;
  background-color: rgb(38, 173, 226);
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  margin-top: 5px;
}
.file-upload-button:hover {
  background-color: rgb(100, 198, 237);
  cursor: pointer;
}

.table-container{
  height: 400px;
  overflow-y: auto;
}
table {
  width: 100%;
  border-spacing: 0px;
}

table > thead > tr > th {
  border: 2px solid rgb(208, 219, 216);
  border-right: 0.5px solid rgb(208, 219, 216);
  text-align: initial;
  background-color: rgb(234, 239, 245);
  padding-left: 5px;
}
table > tbody > tr > td {
  border: 1px solid rgb(208, 219, 216);
  border-top: 0.5px solid rgb(208, 219, 216);
  border-right: 0.5px solid rgb(208, 219, 216);
  text-align: initial;
}

td:hover {
  cursor: pointer;
}

.table-data-container > div {
  border: 1px solid rgb(208, 219, 216);
  text-align: center;
}
.table-data-td {
  padding-left: 5px;
  cursor: pointer;
  min-width: 150px;
}
.table-data-td:hover {
  background-color: #eee;
}
.table-data-index {
  text-align: center;
  background-color: rgb(234, 239, 245);
}
.table-data-index:hover {
  cursor: default;
  background-color: rgb(234, 239, 245);
}

.selected-column {
  background-color: #f0f0f0 !important;
}

.tab-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(234, 239, 245);
  height: 50px;
  display: flex;
}

.tab-container > button {
  cursor: pointer;
}
